* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: lightgray;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 50px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container {
  display: grid;
  gap: 10px;
}

/* nav */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  color: rgb(39, 39, 39);
}

.brand h1 {
  font-size: 3.5em;
}

.brand p {
  font-size: 1.3em;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

.main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.circle {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border-radius: 50%;
  border: 20px solid white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: repeat(2, 60px);
  grid-template-areas:
    "circle gizi"
    "no no";
}

.fact svg {
  justify-self: end;
  align-self: center;
  width: 50px;
  height: 50px;
}

.fact h1 {
  font-size: 2.5em;
}

.fact h2 {
  grid-area: no;
  font-size: 3em;
  justify-self: center;
}

.kal {
  fill: rgb(74, 74, 163);
}

.fat {
  fill: yellow;
}

.prot {
  fill: orangered;
}

.karb {
  fill: green;
}

.foods {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 50px;
  overflow-y: hidden;
  overflow-x: auto;
}

.food {
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.food .icon {
  font-size: 3em;
}

.food h3 {
  font-size: 2.7em;
}
